<% content_for :title do %>About<% end %>
<h3>About the Website</h3>

<h6>
	Created by <%= link_to('Michael Nash', 'https://github.com/utumno86')  %>  and Kelly Bristol
</h6>
<h6>
	For The Iron Yard St.Petersburg/Tampa 3rd Ruby on Rails Cohort Summer 2015
</h6>

<p>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
