<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<% @items.each do |item| %>
		<h3><%= item.name %> </h3>
		<p><<%= item.short_description %> /p>
		<td><%= link_to 'Show', item, class: "btn btn-small btn-primary" %>
<%end  %>